venv
*.tfvars
.terraform
*.tfstate
*.tfstate.backup
storage.key
di_storage.key
key.json
di_key.json
variables.tf
user_data.sh
.vscode
.DS_Store
user_data*
*.bak
.idea
.terraform.lock.hcl
change_hostname.yml
hosts
terraform/test/proxmox/ansible.cfg